body{
    color: #40510E;
    margin:0;
    text-align: center;
    font-family: 'merriweather' , serif;
    background-color:antiquewhite;
    
}
P{
    font-size: 20px;
    font-family:cursive;
    width: 30%;
    margin: 0 auto 0 auto;
    line-height: 2;
}
h1{
    color: #66BFBF;
    font-size: 90px;
    width: 100%;
    line-height: 2;
    margin: 0 auto 0 auto;
    font-family: 'sacramento',cursive;
}
h2{
    color: #66BFBF;
    font-size: 40px;
    font-weight: normal;
    padding-bottom: 40px;
}
hr{
    border: dotted #EAF6F6 6PX;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}
.top-container{
    background-color:#E4F9F5;
    position: relative;
    padding-top: 100px;
       }
.middle-container{
    text-align: center;
    margin: 80px 0;
    
    }
.bottom-container{
    text-align: center;
    
  
    }
.pro{
    text-decoration: underline;
}
.intro{
    width: 30%;
}
.code-img{
    width:25%;
    
    
}
.came-img{
    width:25%;
}
.hey-img{
    width:60%;
}
.hello-img{
    width: 25%;
}
<a href="#" class="myButton">CONTACT ME</a>

.myButton {
	box-shadow:inset -1px -1px 0px 0px #276873;
	background-color:#599bb3;
	border-radius:8px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:19px;
	font-weight:bold;
	padding:15px 43px;
	text-decoration:none;
	text-shadow:0px 5px 0px #3d768a;
}
.myButton:hover {
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

        <a href="#" class="myButton">CONTACT ME</a>

